<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxz.forecast.dao.AlgorithmMapper">

    <resultMap id="AlgorithmInfo" type="com.lxz.forecast.entity.AlgorithmInfo" >
        <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="type1" property="type1" />
        <result column="type2" property="type2" />
        <result column="type3" property="type3" />
        <result column="content1" property="content1" />
        <result column="content2" property="content2" />
        <result column="content3" property="content3" />
        <result column="thinking1" property="thinking1" />
        <result column="thinking2" property="thinking2" />
        <result column="thinking3" property="thinking3" />
        <result column="question" property="question" />
	</resultMap>

    <resultMap id="AlgorithmUser" type="com.lxz.forecast.entity.AlgorithmUser" >
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="algorithm_id" property="algorithmId" />
        <result column="update_time" property="updateTime" />
        <result column="content" property="content" />
        <result column="time_expend" property="timeExpend" />
        <result column="space_expend" property="spaceExpend" />
    </resultMap>

    <select id="listAlgorithmInfo"  resultMap="AlgorithmInfo">
        select id, title ,question  from algorithm_info where  delete_flag=0;
    </select>

    <select id="getAlgorithmInfo"  resultMap="AlgorithmInfo">
        select id,title ,question ,type1 ,type2, type3, content1,content2,content3,thinking1,thinking2,thinking3 from algorithm_info where  delete_flag=0 and id = #{id};
    </select>

    <select id="isExistAlgorithmUser"  resultMap="AlgorithmUser">
        select id from algorithm_user where  delete_flag=0  and algorithm_id = #{algorithmId} and user_id = #{userId}
    </select>

    <select id="getAlgorithmUser"  resultMap="AlgorithmUser">
        select id,user_id ,algorithm_id ,update_time ,content, time_expend, space_expend from algorithm_user where  delete_flag=0 and id = #{id};
    </select>

    <!--<select id="list" resultMap="IpoMaxPurchaseRateRepVO" >-->
          <!--select id,prod_code,prod_name,remark,max_ratio,create_user_id,create_time,update_user_id,update_time from ipo_new_stock_max_ratio-->
          <!--<where>-->
          <!--delete_flag=0-->
		      <!--<if test="prodCode != null">-->
			    <!--and prod_code like concat('%',#{prodCode},'%')-->
		      <!--</if>-->
          <!--</where>-->
          <!--ORDER BY update_time DESC-->
    <!--</select>-->



    <insert id="insertAlgorithmUser">
        INSERT INTO algorithm_user
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="userId != null ">
                user_id,
            </if>

            <if test="algorithmId != null">
                algorithm_id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="timeExpend != null">
                time_expend,
            </if>
            <if test="spaceExpend != null">
                space_expend
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="userId != null">
                #{userId},
            </if>
            <if test="algorithmId != null">
                #{algorithmId},
            </if>
            <if test="content != null">
                #{content},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="timeExpend != null">
                #{timeExpend},
            </if>
            <if test="spaceExpend != null">
                #{spaceExpend}
            </if>
        </trim>

    </insert>

    <update id="updateAlgorithmUser" parameterType="com.lxz.forecast.entity.AlgorithmUser">
        UPDATE algorithm_user
        <set>
            <if test ='null != updateTime'>update_time = #{updateTime},</if>
            <if test ='null != content'>content = #{content},</if>
            <if test ='null != timeExpend'>time_expend = #{timeExpend},</if>
            <if test ='null != spaceExpend'>space_expend = #{spaceExpend},</if>
        </set>
        WHERE id = #{id}  AND delete_flag = 0
    </update>


</mapper>